<div style="text-align:center">
    <input type="button" class="button" value="Generate Numbers" onclick="getPBNums()"/>
</div>
<div class="numbers">
    <p id="PB1" class="circle">  </p>
    <p id="PB2" class="circle">  </p>
</div>
<div class="numbers">
    <p id="PB3" class="circle">  </p>
    <p id="PB4" class="circle">  </p>
</div>
<div class="numbers">
    <p id="PB5" class="circle">  </p>
    <p id="PB6" class="specialCircle">  </p>
</div>